langgraph
langchain-google-genai
langchain-community
motor
pymongo
tavily-python
docling
youtube-transcript-api
streamlit
python-dotenv
langgraph-checkpoint-mongodb
langchain-huggingface
sentence-transformers
faiss-cpu